# Python cache
__pycache__/
*.pyc

# SQLite database
db.sqlite3

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Django stuff
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.mo
*.egg-info
